In [2]:
a = ["apple", "banana", "Republic"]

In [3]:
for element in a:
    print(element)

apple
banana
Republic

In [6]:
for i in range(3):
    print(a[i])

apple
banana
Republic

In [7]:
for i in range(len(a)):
    print(a[i])

apple
banana
Republic

In [8]:
for i in range(len(a)):
    for j in range(i+1):
        #i = 0 => j = 0
        #i = 1 => j = 0,1
        #1 = 2 => j = 0,1,2
        print(a[i])

apple
banana
banana
Republic
Republic
Republic

In [9]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [13]:
total = 0 #method1
for i in range(1,100):
    if i % 3 == 0:
        total += i
    elif i % 5 == 0:
        total += i
print(total)

2318

In [14]:
total = 0 #method2
for i in range(1,100):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2318

In [17]:
given_list = [7,5,4,4,3,1,-2,-3,-5,-5]

total2 = 0
j = len(given_list) - 1
while given_list[j] < 0:
    total2 += given_list[j]
    j -= 1
print(total2)

-15