In [1]:
a = ["banana","apple","microsoft"]

In [3]:
for element in a: #if you print once it becomes banana apple microsoft, twice it becomes banana banana and so on.
    print(element)
    print(element)
    print(element)

banana
banana
banana
apple
apple
apple
microsoft
microsoft
microsoft

In [7]:
b = [20,10,5]
total = 0
for e in b:
    total = total +e
print(total)

35

In [8]:
c = list(range(1,5)) #1 though 5 but not including 5 (so 1 - 4)
print(c)

[1, 2, 3, 4]

In [10]:
total2 = 0
for i in range(1,10):
    total2 += i
print(total2)

45

In [12]:
print(list(range(1,20)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
print(1 % 2) #modulus

1

In [24]:
print (9 % 10) #modulus

9

In [27]:
total3 = 0
for j in range(1, 8):
    if j % 3 == 0:
        total3 += j
print(total3)

9