In [1]:
# A set is a type of data that stores a set of things.

#A set of unique things.

# {1,3} <- 3
# -> {1,3}

In [2]:
a = set()
print(a)

set()

In [3]:
a.add(1)
print(a)

{1}

In [4]:
a.add(2)
print(a)

{1, 2}

In [5]:
a.add(2) #pythons sets rejects duplicates
print(a)

{1, 2}

In [6]:
for x in a:
    print(x)

1
2

In [7]:
given_list1 = [1,1,2,4,2]

In [11]:
new_set1 = set()
for x in given_list1:
        new_set1.add(x)
print(new_set1)

{1, 2, 4}

In [12]:
new_list1 = list()
for x in new_set1:
    new_list1.append(x) #append preserves order
print(new_list1)

[1, 2, 4]

In [13]:
b  =set()
b.add('apple')
b.add('banana')
b.add(1)
b.add(7.2)
print(b)

{'banana', 1, 'apple', 7.2}

In [14]:
given_list2 = [1,3,4,1,3]

In [20]:
new_set2 = set()
for x in given_list2:
    new_set2.add(x)
total = 0
for x in new_set2: #can be done with sum(new_list2)
    total += x
print(total)

8